{% extends 'base.twig' %}

{% block content %}
    <!-- Cities Section -->
    <section class="cities py-5">
        <div class="container">
            <h2 class="text-center">{{ translations['cities'] }}</h2>
            <p class="text-center">{{ translations['explore_cities'] }}</p>
            <div class="row">
                {% for city in cities %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ city.name }}</h5>
                                <p class="card-text">{{ city.description }}</p>
                                <a href="/djs_in_city?city={{ city.name }}" class="btn btn-primary">{{ translations['view_djs'] }}</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <p class="text-center">{{ translations['no_cities'] }}</p>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
