{% extends 'base.twig' %}

{% block content %}
<h1>{{ dj.name }} 's {{country_name}}</h1>

<div class="card">
    <img src="{{ dj.image }}" class="card-img-top" alt="{{ dj.name }}">
    <div class="card-body">
        <h5 class="card-title">{{ dj.name }}</h5>
        <p class="card-text">Genre: {{ dj.genre }}</p>
        <p class="card-text">Price: ${{ dj.price }}</p>
        <p class="card-text">{{ dj.description }}</p>
        <a href="/book?dj_id={{ dj.id }}" class="btn btn-primary">Book Now</a>
    </div>
</div>
{% endblock %}
