{% extends 'base.twig' %}

{% block content %}
    <h1>DJs in {% if city %}{{ city }}{% else %}{{ country }}{% endif %}</h1>
    {% if djs is not empty %}
        <div class="djs-list">
            {% for dj in djs %}
                <div class="dj-card">
                    <img src="{{ dj.image }}" alt="{{ dj.name }}">
                    <h2>{{ dj.name }}</h2>
                    <p>Genre: {{ dj.genre }}</p>
                    <p>Price: ${{ dj.price }}</p>
                    <p>{{ dj.description }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No DJs found in this location.</p>
    {% endif %}
{% endblock %}
