{% extends 'base.twig' %}

{% block content %}
<h1> DJs in {{ city_name }} </h1>

{% if djs is empty %}
    <p>No DJs available in {{ city_name }} at the moment.</p>
{% else %}
    <div class="row">
        {% for dj in djs %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ dj.image }}" class="card-img-top" alt="{{ dj.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ dj.name }}</h5>
                        <p class="card-text">Genre: {{ dj.genre }}</p>
                        <p class="card-text">Price: ${{ dj.price }}</p>
                        <p class="card-text">{{ dj.description }}</p>
                        <a href="/book?dj_id={{ dj.id }}" class="btn btn-primary">Book Now</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
