{% extends 'base.twig' %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">{{ translations['discover_djs'] }}</h1>
    <h2 class="text-center mb-4">{{ translations['explore_djs'] }}</h2>
    <p class="lead text-center mb-4">{{ translations['explore_talented_djs'] }}</p>

    <!-- Search Form -->
    <div class="row">
        <div class="col-md-12 mb-3">
            <form action="/search-djs" method="GET" class="search-form">
                <input type="text" name="query" placeholder="{{ translations['search_placeholder'] }}" class="search-input" value="{{ search_query }}">
                <button type="submit" class="search-button">{{ translations['find_djs'] }}</button>
            </form>
        </div>
    </div>

    <h1>{{ translations['search_results'] }}</h1>


</body>
    <!-- Display Country Cards -->
    <div class="d-flex flex-wrap justify-content-center mb-5">
        {% for country in countries %}
            <div class="country-card mx-2 mb-4" style="flex: 1 1 250px; max-width: 250px;">
                <a href="/locations/{{ country.country_code }}" class="text-decoration-none">
                    <div class="card border-light shadow-sm">
                        <div class="card-body d-flex align-items-center">
                            <i class="fas fa-globe fa-2x me-3"></i>
                            <div>
                                <h5 class="card-title mb-1">{{ country.country_name }}</h5>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
