{% extends 'base.twig' %}

{% block content %}
    <h1>{{ translations['traditional_weddings'] }}</h1>
    <p>{{ translations['details_about_subcategory'] }}</p>
    {% if djs is empty %}
        <p>{{ translations['no_djs_available'] }}</p>
    {% else %}
        <ul>
            {% for dj in djs %}
                <li>{{ dj.name }} - {{ dj.city }}, {{ dj.country_name }} - {{ dj.price }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
